<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @text_taunt.description %>
</p>

<%= link_to 'Edit', edit_text_taunt_path(@text_taunt) %> |
<%= link_to 'Back', text_taunts_path %>
