<p id="notice"><%= notice %></p>

<p>
  <strong>Tauntable:</strong>
  <%= @available_taunt.tauntable %>
</p>

<%= link_to 'Edit', edit_available_taunt_path(@available_taunt) %> |
<%= link_to 'Back', available_taunts_path %>
